<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% include head-custom.html %}
</head>
<body>
<!-- Inside <body> -->
    <nav class="nav">
      {{ content }}  <!-- ADD THIS LINE -->
        <a href="/" class="nav__link">Home</a>
        <a href="/results/" class="nav__link">Results</a>
        <a href="/pine/" class="nav__link">PineScripts</a>
        <a href="/support/" class="nav__link">Support</a>
        <a href="/contact/" class="nav__link">Contact</a>
        <a href="/blog/" class="nav__link">Build Log</a>
      </nav>      
</body>
</html>
